<tal:block change:loadhandler="blog_BlogEditLoadHandler"/>

<h2 change:h="" change:translate="&modules.blog.frontoffice.Blog-edit-title;"></h2>
<h3 change:h="">${blog/getLabelAsHtml}</h3>

<ul class="mini-navigation">
	<li>
		<a class="link" change:actionlink="blog blog/getId" block="blog_categoryForm" change:translate="modules.blog.frontoffice.Category-new-link"></a>
	</li>
	<li>
		<a class="link" change:actionlink="blog blog/getId" block="blog_postForm" change:translate="modules.blog.frontoffice.Post-new-link"></a>
	</li>
	<li>
		<a class="link" change:actionlink="cmpref blog/getId" block="blog_commentsValidation" change:translate="modules.blog.frontoffice.Comments-validation-link"></a>
	</li>
	<li>
		<a change:link="tag contextual_website_website_modules_blog_blogedit" change:translate="modules.blog.frontoffice.Back-to-list-link"></a>
	</li>
</ul>

<tal:block tal:define="global parentLabel" tal:omit-tag=""><tal:block change:translate="&modules.blog.frontoffice.Categories-list-titleLabel;"/></tal:block>
<tal:block change:include="module 'blog' ; template 'Blog-Inc-DocumentActionList' ; type 'html' ; documents categories; blog blog; parentLabel parentLabel; editBlock 'blog_categoryForm'" />

<tal:block tal:define="global parentLabel"><tal:block change:translate="&modules.blog.frontoffice.Posts-list-titleLabel;"/></tal:block>
<tal:block change:include="module 'blog' ; template 'Blog-Inc-DocumentActionList' ; type 'html' ; documents paginator; blog blog; parentLabel parentLabel; editBlock 'blog_postForm'" />
<tal:block change:paginator="paginator" />

<br class="cleaner" />