<ul class="mini-navigation">
	<li tal:condition="configuration/getShowblogrsslink">
		<img change:img="front/rss.gif" alt="" />
		<a change:link="module blog; action ViewFeed; parentref keyword/getBlog/getId">${trans: m.blog.frontoffice.blog-rss-link,ucf}</a>
	</li>
	<li>
		<img change:img="front/rss.gif" alt="" />
		<a change:link="module blog; action ViewFeed; parentref keyword/getId">${trans: m.blog.frontoffice.keyword-rss-link,ucf}</a>
	</li>
</ul>

<h1 change:h="">${keyword/getLabelAsHtml}</h1>

<div class="normal" tal:condition="keyword/getDescription">${keyword/getDescriptionAsHtml}</div>

<ol class="document-list">
	<li tal:repeat="post paginator" class="${php: repeat.post.odd ? 'odd' : 'even'}">
		<tal:block change:include="module 'blog' ; template 'Blog-Inc-PostShortDetail' ; type 'html' ; post post ; showHightlightingVisual configuration/getShowHightlightingVisual" />
	</li>
</ol>
<tal:block change:paginator="paginator" />
<br class="cleaner" />