<tal:block change:loadhandler="blog_CommentsValidationLoadHandler"/>
<h2 change:h="" change:translate="modules.blog.frontoffice.Comments-validation-title"></h2>
<h3 change:h="">${blog/getLabelAsHtml}</h3>

<ul class="mini-navigation">
	<li>
		<a class="link" change:actionlink="cmpref blog/getId" block="blog_blogEdit" change:translate="modules.blog.frontoffice.Blog-edit-link"></a>
	</li>
</ul>

<table class="document-list" tal:condition="php: count(paginator)">
	<tr tal:repeat="document paginator" class="${php: repeat.document.odd ? 'odd' : 'even'}">
		<td tal:define="target document/getTarget">
			<a tal:condition="target/isPublished" class="link" change:link="document target">${document/getLabelAsHtml}</a>
			<span tal:condition="not: target/isPublished">${document/getLabelAsHtml}</span>
		</td>
		<td>${document/getContentsAsHtml}</td>
		<td class="actions" tal:define="currentTaskId php: array_search(document->getId(), commentIds)">
			<a class="link" change:actionlink="taskId currentTaskId; cmpref blog/getId" block="blog_commentsvalidation" action="validate"><img change:i18nattr="alt &modules.blog.frontoffice.Comment-Validate-link;" change:img="icon/small/activate.png" /></a>
			<a class="link" change:actionlink="taskId currentTaskId; cmpref blog/getId" block="blog_commentsvalidation" action="cancel"><img change:i18nattr="alt &modules.blog.frontoffice.Comment-Cancel-link;" change:img="icon/small/delete.png" /></a>
		</td>
	</tr>
</table>

<tal:block change:paginator="paginator" />
<br class="cleaner" />