<tal:block change:loadhandler="generic_DocumentLoadHandler" args="category" />
<h2 tal:condition="category/isNew" change:h="" change:translate="modules.blog.frontoffice.Category-new-title"></h2>
<h2 tal:condition="not: category/isNew" change:h="" change:translate="modules.blog.frontoffice.Category-edit-title"></h2>

<ul class="mini-navigation">
	<li>
		<a class="link" change:actionlink="cmpref category/getBlog/getId" block="blog_blogEdit" change:translate="modules.blog.frontoffice.Blog-edit-link"></a>
	</li>
</ul>

<form change:form="beanClass blog_persistentdocument_category; beanName category">
	<div change:errors=""></div>
	<tal change:field="name beanId" hidden="true" />
	<ol>
		<li><input change:field="name label" /></li>
		<li><input change:field="name description; width 445px" /></li>
		<li><input change:hiddeninput="name blog" /></li>
	</ol>
	<p>
		<input change:submit="label &modules.blog.frontoffice.Submit-form;" />
	</p>
</form>