<h2 change:h="">${trans:m.blog.bo.general.archives,ucf}</h2>
<ul class="menu-list">
	<li tal:repeat="year blog/getPublishedYears">
		<a change:link="module blog ; action ViewArchive ; cmpref blog/getId ; year year/getNumber ; month 'all'">${year/getLabelAsHtml}</a> <span class="post-count" tal:condition="configuration/getShowpostcountonyears">(${year/getPublishedPostCount})</span>
		<ul tal:condition="configuration/getDisplaymonths" class="menu-list">
			<li tal:repeat="month year/getPublishedMonths">
				<a change:link="module blog ; action ViewArchive ; cmpref blog/getId ; year year/getNumber ; month month/getNumber">${month/getLabelAsHtml}</a> <span class="post-count" tal:condition="configuration/getShowpostcountonmonths">(${month/getPublishedPostCount})</span>
			</li>
		</ul>
	</li>
</ul>