<ul class="mini-navigation">
	<li>
		<img change:img="front/rss.gif" alt="" />
		<a class="link" change:link="module blog; action ViewFeed; parentref blog/getId">${trans: m.blog.frontoffice.blog-rss-link,ucf}</a>
	</li>
</ul>

<h1 change:h="">${blog/getLabelAsHtml}</h1>

<div class="normal" tal:condition="blog/getDescription">${blog/getDescriptionAsHtml}</div>

<ol class="document-list">
	<li tal:repeat="post paginator" class="${php: repeat.post.odd ? 'odd' : 'even'}">
		<tal:block change:include="module 'blog' ; template 'Blog-Inc-PostShortDetail' ; type 'html' ; post post ; showHightlightingVisual configuration/getShowHightlightingVisual" />
	</li>
</ol>
<tal:block change:paginator="paginator" />
<br class="cleaner" />