<li tal:define="current php: document.getId() == category.getId()" class="${php: current ? 'current' : ''}">
	<a tal:omit-tag="current" change:link="document category">${category/getLabelAsHtml}</a> 
	<span tal:condition="recursiveCount" class="post-count">(${category/getRecursivePublishedPostCount})</span>
	<span tal:condition="not:recursiveCount" class="post-count">(${category/getPublishedPostCount})</span>
	<tal:block tal:define="subCategories category/getPublishedSubCategories">
		<ul tal:condition="subCategories" class="normal">
			<tal:block tal:repeat="subCategory subCategories">
				<tal:block change:include="module 'blog' ; template 'Blog-Inc-RecursiveCategory' ; type 'html' ; category subCategory ; recursiveCount recursiveCount ; document document" />
			</tal:block>
		</ul>
	</tal:block>
</li>